 /* @media (min-width: 768px) {
    .social-lg {
        margin-right: 3rem;
    }
} */
/*
@media (min-width: 992px) {
    .social-lg {
        margin-right: 5.5rem;
    }
}
*/
/* @media (min-width: 1200px) {
    .social-lg {
        margin-right: 5.5rem;
    }
} 
@media (min-width: 1200px) {
    .social-lg {
        margin-right: 8rem;
    }
}  */