/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/* For example, to add a custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
    @font-face {
      font-family: Cairo;
      src: url(assets/fonts/Cairo/Cairo-Regular.ttf);
    }

    @font-face {
      font-family: messeriFont;
      src: url(assets/fonts/El_Messiri/ElMessiri-Regular.ttf);
    }
    body {
      font-family: 'Cairo', sans-serif;
    }